PGHOST=db
PGUSER=odoo
PGPASSWORD=d...

S3_BUCKET=s3://backups
S3_ENDPOINT=AAA.r2.cloudflarestorage.com

AWS_ACCESS_KEY_ID=BBB
DUPLICACY_S3_ID=BBB

AWS_SECRET_ACCESS_KEY=CCC
DUPLICACY_S3_SECRET=CCC

DUPLICACY_PASSWORD=DDD

